{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>Picasso-{{title}}</title>
    {% else %}
    <title>Picasso</title>
    {% endif %}

    {% block styles %}
        {% bootstrap_css%}
        <link rel="stylesheet" href="{% static 'css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
        <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    {% endblock styles %}
        
</head>
<body>

    {% include 'navbar.html'%}
    <div class="container">
        {% block content %}
        <!-- filter by location -->
        <!-- <form class="form-inline my-2 my-lg-0" role="search" method="POST">
            <input class="form-control mr-sm-2" type="search" placeholder="Filter by location..." aria-label="Search" name="location">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filter</button>
          </form> -->
        <!-- filter by location -->

    
        {% endblock content %}
    </div>


    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %}
        <script src="{% static 'js/masonry.js' %}"></script>
        <script src="{% static 'js/imagesLoaded.js'%}"></script>
        <script src="{% static 'js/slick.min.js' %}"></script>
        <script src="{% static 'js/picasso.js' %}"></script>
        
    {% endblock scripts %}
        
    
</body>
</html>