{% extends 'all-canvas/base.html'%}
{% block content %}

<h1>Welcome to picassooo home</h1>

  <!-- Looping through photos   -->
  
  <div class="row">
    <!-- displaying photos -->
    <section class="masonry-grid" id="work">
      <div class="grid">
        {% for pic in photos %}
        <div class="grid-item">
          <img src="{{pic.image.url}}" class="img-fluid" alt="">
          <div class="content-slide-up">
            <p>{{ pic.img_name }}</p>
            <hr class="underline">
          </div>
          <div class="overlay-slide-down"></div>
        </div>
      </div>
    </section>

  </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There No photos</h2>
  </div>
  {% endfor %}
{% endblock content %}