{%extends 'all-canvas/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if photos %}
      <h2>Found {{ photos|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 photos for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if photos %}
    {% for pic in photos%}
      <div class="col-sm-6 col-md-3">
          <h1>{{pic.img_name}}</h1>
      </div>
       <!--Display  images  -->
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="{{pic.image.url}}" class="img-fluid" alt="Image">
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}