{%extends 'all-canvas/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if photos %}
      <h2>Found {{ photos|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 photos for the search term {{message}}</h2>
    {% endif %}
  </div>

  <section class="masonry-grid" id="work">
      <div class="grid">
        <div class="grid-sizer"></div>
  
        {% for pic in photos %}
        <div class="grid-item">
          <img src="{{pic.image.url}}" class="" alt="{{pic.img_name}}">
          <div class="content-slide-up">
            <p>{{ pic.img_name }}</p>
            <hr class="underline">
          </div>
          <div class="overlay-slide-down"></div>
        </div>
        {% endfor %}
        
      </div>
    </section>


</div>
{% endblock %}