@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Roboto&display=swap");
:root {
  --bg: #222831;
  --bg2: #181C22;
  --bg3: #1A1D24;
  --green1: #efbb35;
  --green2: #e84279;
  --green3: #dfa612;
  --top1: #302e24;
  --top2: #28313e;
  --text-color: #F9FFEE;
  --info-box-text: antiquewhite;
  --info-box-bg: rgba(255, 213, 70, 0.1);


}

h1,
h2,
h3,
h4 {
  color: var(--green1);
  font-style: italic;
  font-family: 'IBM Plex Mon', 'Roboto', sans-serif;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light{
  background: var(--bg3) !important;
}

a.navbar-brand{
  color: cyan !important;
}

.navbar-light .navbar-nav .nav-link {
  color:var(--green3) !important;
}

.form-control.mr-sm-2{
  background: transparent;
}


/* ========================================================== */
body,
html {
  background: var(--bg);
}

body {
  color: var(--text-color);
  font-family:'Roboto',sans-serif;
}

.title {
  position: relative;
  margin: 70px auto;
  text-align: center;
  font-size: 35px;
  line-height: 40px;
  display: block;
  text-transform: uppercase;
}

h2.subtitle {
  position: relative;
  margin: 70px auto;
  text-align: center;
  font-size: 35px;
  line-height: 40px;
  display: block;
  text-transform: capitalize;
}

h2.subtitle::after {
  content: "";
  display: block;
  background: cyan;
  width: 100px;
  height: 2px;
  margin: 30px auto 0 auto;
}

/* ===============Section masonry============================== */

section.masonry-grid {
  position: relative;
}

.grid {
  margin: 0 auto;
}

/* clear fix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
  position: relative;
  overflow: hidden;
}

.grid-item img {
  display: block;
  width: 100%;
}

.grid-item .content-slide-up {
  position: absolute;
  width: 100%;
  padding: 10px;
  bottom: -100px;
  transition: 0.6s;
  z-index: 1;
}

.grid-item .content-slide-up > p {
  text-align: center;
  text-transform: uppercase;
  color:var(--text-color);
  padding: 10px auto 0 auto;
  font-size: 0.9rem;
}

.content-slide-up > hr.underline {
  border: 0.4px solid cyan;
  background: cyan;
  width: 200px;
  height: 2px;
  margin: 15px auto 0 auto;
}

.grid-item .overlay-slide-down {
  height: 0%;
  width: 100%;
  background: #333;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 0.5s;
}

.grid-item:hover .content-slide-up {
  bottom: 25%;
  opacity: 1;
}

.grid-item:hover .overlay-slide-down {
  opacity: 0.85;
  height: 100%;
}

a.grid-item-anchor:hover {
  cursor: finger;
}

/*========================= modal=============================== */
.modal-header,.modal-body,.modal-footer{
  background: var(--bg) !important;

}

.modal-header .modal-title{
  color:cyan;
  text-transform: uppercase;
}

.card{
  border: 1px solid var(--green1);
}

.card.info-card,.list-group >.list-group-item{
  background: var(--bg);
  color:var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.list-group-item{
  text-transform: capitalize;
  border: 1px solid cyan;

}

.btn.btn-danger{
  background: cyan;
  border:1px solid cyan;
}
